[submodule "tf2stablehlo/third_party/tensorflow"]
	path = tf2stablehlo/third_party/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
	branch = tags/v2.17.0
	shallow = true
[submodule "third_party/tensorflow"]
	shallow = true
[submodule "compiler/third_party/xla"]
	path = compiler/third_party/xla
	url = https://github.com/openxla/xla.git
	shallow = true
